body {
  color: rgb(37, 36, 36);
}
a {
  text-decoration: none;
  color: #4d77b5;
}
.container_homifi{
  height: 80vh;
   overflow: scroll;
}
.carousel-caption {
  position: relative;
  left: 0;
}
.navbar-expand .navbar-nav .nav-link {
  color: #000;
}
/* dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 5px;
  top: 30px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #4d77b5;
  color: #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* dropdown */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: #fff !important;
  border: 1px solid #4d77b5 !important;
  border-radius: 50% !important;
}
.carousel-indicators .active {
  background-color: #4d77b5 !important;
  border: 1px solid #4d77b5 !important;
}

.carousel-control-prev {
  position: absolute;
  left: -2rem;
}
.carousel-control-next {
  position: absolute;
  right: -2.8rem;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0  16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.Homifi-buttom {
  background-color: #4d77b5;
  border: 1px solid #4d77b5;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: inline;
}
.Homifi-buttom:hover {
  background-color: #fff;
  color: #4d77b5;
  border: 1px solid #4d77b5;
}
.Homifi-buttom i {
  margin-right: 10px;
}

.Homifi-copyrighs {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}

/* ====About-Page-list===== */
.About-Page-list {
  list-style: none;
}
/* ====About-Page-list===== */
.About-Page-h3,
.Home-Page-h3 {
  position: relative;
  -webkit-animation: rightmove 1.5s;
  animation: rightmove 1.5s;
}
.Home-Page-p {
  position: relative;
  -webkit-animation: rightmove 2s;
  animation: rightmove 2s;
}
.About-Page-list,
.Homifi-Page-buttom {
  position: relative;
  -webkit-animation: rightmove 2.5s;
  animation: rightmove 2.5s;
}
.About-Page-Paragraph {
  position: relative;
  -webkit-animation: rightmove 2s;
  animation: rightmove 2s;
}
@keyframes rightmove {
  0% {
    left: 200px;
  }
  100% {
    left: 0px;
  }
}
.About-Page-image {
  width: auto;
}
.About-Page-image img {
  position: relative;
  width: 100%;
  -webkit-animation: leftmove 1.5s;
  animation: leftmove 1.5s;
}
@keyframes leftmove {
  0% {
    left: -200px;
  }
  100% {
    left: 0px;
  }
}
/* ====Homifi Animation start===== */

/* ====Homifi Animation End===== */

@media only screen and (max-width: 767px) {
  .carousel-control-prev {
    position: absolute;
    left: -0.5rem;
    width: auto;
  }
  .carousel-control-next {
    position: absolute;
    width: auto;
    right: -1rem;
  }
  .Homifi-copyrighs {
    position: relative;
  }
  .Homifi-buttom {
    padding: 10px 4px;
    font-size: 12px;
  }
  .Homifi-buttom i {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 470px) {
  .About-Page-image {
    width: 200px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4d77b5;
  border-radius: 10px;
}